body {
  font-family: sans-serif;
}

h1, h3 {
  text-align: center;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
}

h3 {
  font-size: 20px;
  margin-top: 130px;
}

.list {
  width: 336px;
  margin: 0 auto;
}

input {
  display: block;
  width: 330px;
  height: 20px;
  margin: 15px auto 0 auto;
}

input:focus {
  outline: none;
}
