header {
  text-align: center;
  height: 150px;
}

header img {
  width: 100px;
}

h1 {
  display: inline;
  font-family: 'Rancho', cursive;
  font-size: 58px;
}

aside {
  position: absolute;
  background-color: red;
  top: 150px;
  bottom: 0;
  width: 230px;
}

section {
  position: absolute;
  background-color: blue;
  top: 150px;
  bottom: 0;
  left: 230px;
  right: 0px;
}

input {
  width: 100%;
}
