header {
  text-align: center;
  padding: 25px;
}

h1 {
  font-family: 'Rancho', cursive;
  font-size: 58px;
}

aside {
  position: absolute;
  background-color: red;
  top: 108px;
  bottom: 0;
  width: 230px;
}

section {
  position: absolute;
  background-color: blue;
  top: 108px;
  bottom: 0;
  left: 230px;
  right: 0px;
}

input {
  width: 100%;
}
